
<div>
    <section class="thesection">
        <div class="search">
            <input class="thesearch" type="text" placeholder="  search">
            <button class="thebtn">search</button>
        </div>
        
        <h1 class="categ">Categories</h1>
        <ul class="theul">
            <li><a href="">dessert</a></li>
            <li><a href="">Main Course</a></li>
            <li><a href="">Side Dish</a></li>
            <li><a href="">Snack</a></li>
            <li><a href="">Breakfast</a></li>
            <li><a href="">lunch</a></li>
            <li><a href="">dinner</a></li>
            <li><a href="">baked</a></li>
        </ul>
    </section>
    
    <div class="trendy">
        <div class="cards">
            <img class="cardimg" src="/6e7df5e1ebf2439843206f6625549afb.jpg" alt="">
            <h2>dessert</h2>
            <img class="stars" src="/5 stars.png" alt="">
            <button class="cardbtn">more details</button>
        </div>
        <div class="cards">
            <img class="cardimg" src="/6e7df5e1ebf2439843206f6625549afb.jpg" alt="">
            <h2>dessert</h2>
            <img class="stars" src="/5 stars.png" alt="">
            <button class="cardbtn">more details</button>
        </div>
        <div class="cards">
            <img class="cardimg" src="/6e7df5e1ebf2439843206f6625549afb.jpg" alt="">
            <h2>dessert</h2>
            <img class="stars" src="/5 stars.png" alt="">
            <button class="cardbtn">more details</button>
        </div>
        <div class="cards">
            <img class="cardimg" src="/6e7df5e1ebf2439843206f6625549afb.jpg" alt="">
            <h2>dessert</h2>
            <img class="stars" src="/5 stars.png" alt="">
            <button class="cardbtn">more details</button>
        </div>
        <div class="cards">
            <img class="cardimg" src="/6e7df5e1ebf2439843206f6625549afb.jpg" alt="">
            <h2>dessert</h2>
            <img class="stars" src="/5 stars.png" alt="">
            <button class="cardbtn">more details</button>
        </div>
        
        
    </div>
    <br><br><br>
</div>