/* You can add global styles to this file, and also import other style files */
.thebody{
    background: url(/pexels-goumbik-349610.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 750px;
    
}