<div class="all">
    <h1>{{ editing ? 'Edit Recipe' : 'Add Recipe' }}</h1>
    
    <form class="theform" (ngSubmit)="submitForm()">
      <input class="theinput" type="text" placeholder="title" [(ngModel)]="title" name="title" required />
      <input class="theinput" type="text" placeholder="image link" [(ngModel)]="photo" name="photo" required />
      <input class="theinput" type="text" placeholder="description" [(ngModel)]="description" name="description" required />
      <textarea class="theinput" placeholder="ingredients" [(ngModel)]="ingredients" name="ingredients" required></textarea>
      <textarea class="theinput" placeholder="How to prepare it" [(ngModel)]="prepareit" name="prepareit" required></textarea>
      <button class="formbtn" type="submit">{{ editing ? 'Update' : 'Submit' }}</button>
      <button *ngIf="editing" class="formbtn" type="button" (click)="cancelEdit()">Cancel</button>
    </form>
  
    <h3>Recipes Added</h3>
  
    <div class="trendy">
      <div class="cards" *ngFor="let recipe of recipes">
        <img class="cardimg" [src]="recipe.photo" alt="{{ recipe.title }}" />
        <h2>{{ recipe.title }}</h2>
        <button class="cardbtn" (click)="viewDetails(recipe)">More Details</button>
        <button class="cardbtn" (click)="editRecipe(recipe)">Edit</button>
        <button class="cardbtn" (click)="deleteRecipe(recipe.id.toString())">Delete</button>

      </div>
    </div>
  </div>
  