<div class="all">
    <h1>add recipe</h1>
    <form class="theform" action="">
        <input class="theinput" type="text" placeholder="title">
        <input class="theinput" type="text" placeholder="image link">
        <input class="theinput" type="text" placeholder="description">
        <textarea class="theinput" name="" id="" placeholder="ingredients"></textarea>
        <textarea class="theinput" name="" id="" placeholder="How to prepare it"></textarea>
        <button class="formbtn">submit</button>
    </form>
    <h3>recipes added</h3>
    
    <div class="trendy">
        <div class="cards">
            <img class="cardimg" src="/6e7df5e1ebf2439843206f6625549afb.jpg" alt="">
            <h2>dessert</h2>
            <button class="cardbtn">more details</button>
            <button class="cardbtn">edit</button>
            <button class="cardbtn">delete</button>
        </div>
        <div class="cards">
            <img class="cardimg" src="/6e7df5e1ebf2439843206f6625549afb.jpg" alt="">
            <h2>dessert</h2>
            <button class="cardbtn">more details</button>
            <button class="cardbtn">edit</button>
            <button class="cardbtn">delete</button>
        </div>
    </div>
</div>
