<section class="thesection">
    <p class="latestrec">LATEST RECIPES</p>
    <div class="allimg">
        <img class="firstimg" src="/istockphoto-1048400936-612x612.jpg" alt="">
        <div class="twoimg">
        <img class="secondimg" src="/1000038128.jpg" alt="">
        <img class="thirdimg" src="/photo-1551024506-0bccd828d307.jpeg" alt="">
        </div>
    </div>
    <p class="trendytitle">trendy recipes</p>
    <div class="trendy">
        <div class="cards">
            <img class="cardimg" src="/6e7df5e1ebf2439843206f6625549afb.jpg" alt="">
            <h2>dessert</h2>
            <button class="cardbtn">more details</button>
        </div>
        <div class="cards">
            <img class="cardimg" src="/6e7df5e1ebf2439843206f6625549afb.jpg" alt="">
            <h2>dessert</h2>
            <button class="cardbtn">more details</button>
        </div>
        <div class="cards">
            <img class="cardimg" src="/6e7df5e1ebf2439843206f6625549afb.jpg" alt="">
            <h2>dessert</h2>
            <button class="cardbtn">more details</button>
        </div>
    </div>
    <br><br><br>
</section>
