.thesection{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
    max-width: 100%;
}
.latestrec{
    background-color: rgb(229, 177, 65);
    width: 200px;
    height: 60px;
    text-align: center;
    padding-top: 15px;
    border-radius: 30px;
    box-shadow: 10px 5px 12px rgb(116, 116, 116);
    font-size: large;
    font-weight: bolder;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    left: 10%;
    top: 150px;
}
.firstimg{
    
    height: auto;
    max-width: 70%;
    box-shadow: 5px 5px 15px;
}
.secondimg{
    
    height: 280px;
    box-shadow: 5px 5px 15px;
}
.thirdimg{
    
    height: 280px;
    box-shadow: 5px 5px 15px;
}
.allimg{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    

}
.twoimg{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.trendy{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    align-items: center;
    margin-top: 50px;
}
.trendytitle{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bolder;
    font-size: 3em;
    background-color: rgb(185, 67, 27);
    border-radius: 40px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
    box-shadow: 10px 10px 10px;
}
.cards{
    display: flex;
    flex-direction: column;
    background-color: rgb(87, 71, 58);
    align-items: center;
    border-radius: 20px;
    padding-bottom: 20px;
    color: aliceblue;
}
.cardimg{
    border-radius: 20px;
    width: 250px;
}
.cardbtn{
    width: 150px;
    border: 0px;
    border-radius: 50px;
    background-color: rgb(229, 177, 65);
    box-shadow: 10px 10px 10px;
    transition: 0.3s;
}
.cardbtn:hover{
    background-color: rgb(168, 139, 76);
    box-shadow: 10px 10px 10px black;
    color: aliceblue;
}